<h1>ルール説明</h1>
<p>
    ・第一世代のポケモンのみでしりとりをし「ン」がついたり<br>
    　第一世代以外のポケモンを入力すると終了。<br>
    ・小文字「ャ、ュ、ョ」は「ヤ、ユ、ヨ」とする。<br>
    ・「ー」で終わるポケモンはそのひとつ前の文字でしりとりを行う。（キングラー→ライチュウ）<br>
    ・しりとりが続くポケモンがいなくなった時点で終了、勝利となる。<br>
</p>

<p><%= link_to 'ゲームを始める', '/homes/game' %></p>